:root {
  --main-text-color: #212121;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
  --accent-bg-color: #188ce8;
  --secondory-white-color: #ffffff;
  --owner-text-color: #757575;
  --contener-color: #eeeeee;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background--section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #f5f5f5;
  --icon-color: #afb1b8;
  --main-font: Roboto, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--main-text-color);
  background: var(--secondory-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.page-header {
  padding: 24px 0;
  border-bottom: 1px solid var(--line-color);
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 100%;
  background-color: var(--secondory-white-color);
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    text-align: left;
  }
}

.main-nav__logo {
  display: inline-block;
  margin-right: 93px;
}

.logo__header {
  color: var(--logo-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    margin-left: 91px;
  }
}

.main-nav__link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  transition: color 250ms var(--timing-function);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  left: 0;
  background-color: var(--accent-color);
  bottom: -33px;
}

.main-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.aut-nav {
  justify-content: center;
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .aut-nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .aut-nav {
    flex-direction: row;
    gap: 30px;
  }
}

.aut-nav__link {
  display: flex;
  align-items: center;
  color: var(--owner-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 5px 0;
  transition: color 250ms var(--timing-function);
  text-decoration: none;
}
.aut-nav__link:hover, .aut-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .aut-nav__link {
    font-size: inherit;
    line-height: 1.14;
    padding: 32px 0;
  }
}

.aut-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.aut-nav__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .aut-nav__icon-envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

.aut-nav__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .aut-nav__icon-smartphone {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

.menu-toggle {
  display: inline-flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  transition: color 250ms var(--timing-function);
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mob-menu__img {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--secondory-white-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu--current {
  margin-top: auto;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms var(--timing-function);
  text-decoration: none;
}
.mobile-menu__link--current {
  color: var(--accent-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 390px) {
  .mobile-menu__tel {
    font-size: 24px;
  }
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.menu-soc__list {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
@media screen and (max-width: 479px) {
  .menu-soc__list {
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
  }
}

.menu-soc__item:not(:last-child)::after {
  content: "";
  margin: 0 10px;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.hero {
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: var(--bg-gradient), url(../images/hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero_mob@2x.jpg);
  }
}
@media screen and (min-width: 576px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero_tablet.jpg);
  }
}
@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero_tablet@2x.jpg);
  }
}
@media screen and (min-width: 960px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondory-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    line-height: 1.3636363636;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  /* border: 1px solid transparent; */
  border: none;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--secondory-white-color);
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .feature__section {
    padding-top: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__section {
    padding-bottom: 0;
  }
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.feature__item::before {
  display: block;
  content: "";
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--buttons-port-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.feature__text {
  color: var(--owner-text-color);
  line-height: 1.71;
}

.about__section {
  display: block;
}
@media screen and (max-width: 1199px) {
  .about__section {
    display: none;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondory-white-color);
  bottom: 0;
}

.team__section {
  background-color: var(--buttons-port-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team__section {
    padding: 94px 0;
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background-color: var(--secondory-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__img {
  width: auto;
}

.team__content {
  padding: 30px 0;
}
.team__content__list {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.img .team__item {
  width: auto;
}

.team__profession__name {
  margin-bottom: 16px;
  color: var(--owner-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.team__soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.team__soc__link:hover, .team__soc__link:focus {
  background-color: var(--accent-color);
  color: var(--secondory-white-color);
}

.team__soc__icon {
  fill: currentColor;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.clients__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.page-footer {
  padding: 60px 0;
  background-color: var(--background-footer-color);
}

@media screen and (max-width: 767px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .footer__box {
    flex-wrap: wrap;
  }
}

.footer__wrap {
  min-width: 232px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    margin-right: 165px;
  }
}

.logo__footer {
  color: var(--secondory-white-color);
}

@media screen and (max-width: 1199px) {
  .logo {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.footer__adress {
  margin-top: 20px;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .footer__adress {
    margin-bottom: 60px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
@media screen and (max-width: 1199px) {
  .footer__list {
    align-items: center;
  }
}

.footer__link {
  color: var(--footer-text-color);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  transition: color 250ms var(--timing-function);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__link--map {
  color: var(--secondory-white-color);
  font-style: normal;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondory-white-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-soc__title {
    text-align: center;
  }
}

.footer-soc__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondory-white-color);
  transition: background-color 250ms var(--timing-function);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
}

.footer-soc__link {
  color: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__signup {
    display: flex;
  }
}

.footer-form__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondory-white-color);
}
@media screen and (max-width: 1199px) {
  .footer-form__title {
    text-align: center;
  }
}

.signup__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: var(--secondory-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 480px) {
  .signup__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .signup__input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.signup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondory-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.signup__btn:hover, .signup__btn:focus {
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .signup__btn {
    margin: 0 auto;
  }
}

.signup__icon {
  margin: 10px;
  fill: currentColor;
}

.filter__button {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--buttons-port-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--secondory-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__list {
  gap: 8px;
  row-gap: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.galery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
}

.galery__wrap {
  position: relative;
  overflow: hidden;
}

.galery__text {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondory-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  height: calc(100% + 1px);
  width: inherit;
  display: flex;
  justify-content: center;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.galery__link {
  color: inherit;
  display: block;
  transition: box-shadow 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.galery__link:hover, .galery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.galery__link:hover .galery__text, .galery__link:focus .galery__text {
  transform: translateY(0);
}

.galery__card {
  display: block;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.galery__card {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 20px 24px;
  border: 1px;
  border-style: solid;
  border-top-width: 0;
  border-top-style: hidden;
  border-color: var(--contener-color);
}

.galery__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.galery__descript {
  color: var(--owner-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(90deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg);
  transition: transform 250ms var(--timing-function);
  width: 528px;
  height: 582px;
  background-color: var(--secondory-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close__icon {
  right: 0;
}

.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondory-white-color);
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--timing-function);
}
.modal-close__btn:hover, .modal-close__btn:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal__form {
  width: 100%;
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.modal__field .texarea {
  margin-bottom: 0;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--owner-text-color);
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--owner-text-color);
  outline: transparent;
  transition: border-color 250ms var(--timing-function);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: var(--logo-text-color);
  transition: fill 250ms var(--timing-function);
}
.modal__input:hover + .input__icon, .modal__input:focus + .input__icon {
  fill: var(--accent-bg-color);
}

.modal__comment {
  padding: 12px 16px;
  height: 120px;
  cursor: pointer;
  color: var(--owner-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: var(--accent-color);
  transition: border-color 250ms var(--timing-function);
}
.modal__comment:hover, .modal__comment:focus {
  border-color: var(--accent-color);
}

.modal__agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox__input:checked + .checkbox__check {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-checkbox__label {
  margin-left: 8px;
  cursor: pointer;
  color: var(--owner-text-color);
  line-height: 1.71;
}

.checkbox__check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  fill: transparent;
  cursor: pointer;
  border: 2px solid var(--main-text-color);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.check__icon {
  display: flex;
  position: absolute;
}

.agreement__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.send__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  color: var(--secondory-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-bg-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.send__btn:hover, .send__btn:focus {
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */