.footer-form {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
.footer__signup {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-form__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondory-white-color);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.signup__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: var(--secondory-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(
    0px 4px 4px rgba(0, 0, 0, 0.15)
  );
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.signup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondory-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms
      var(--timing-function),
    box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.signup__icon {
  margin: 10px;
  fill: currentColor;
}
