.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.02);

	opacity: 1;
	transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) rotateX(90deg);
}
.modal {
	
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) rotateX(0deg);
	transition: transform 250ms var(--timing-function);

	width: 528px;
	height: 582px;//
	background-color: var(--secondory-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px;
	 @media screen and (max-width: 479px) {
    		width: 300px;
  	}
  	@media screen and (min-width: 480px) and (max-width: 1199px) {
    		width: 450px;
  	}
}

.modal-close__icon {
	right: 0;
}
.modal-close__btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: var(--secondory-white-color);
	border: solid 1px;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: fill 250ms var(--timing-function);
	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}
.backdrop.is-hidden {
	/* visibility: hidden; */
	opacity: 0;
	pointer-events: none;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	margin-bottom: 12px;
}
.modal__form {
	width: 100%;
}
.modal__field {
	position: relative;
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	.texarea {
		margin-bottom: 0;
	}
}

.modal__label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--owner-text-color);
	margin-bottom: 4px;
}
.modal__input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 11px 12px 11px 42px;
	cursor: pointer;
	border: 1px solid rgba(33, 33, 33, 0.2);
	color: var(--owner-text-color);
	outline: transparent;
	transition: border-color 250ms var(--timing-function);
	&:hover,
	&:focus {
		border-color: var(--accent-color);
	}
}
.input__icon {
	position: absolute;
	left: 12px;
	top: 50%;
	fill: var(--logo-text-color);
	transition: fill 250ms var(--timing-function);
	.modal__input:hover + &,
	.modal__input:focus + & {
		fill: var(--accent-bg-color);
	}
}

.modal__comment {
	padding: 12px 16px;
	height: 120px;
	cursor: pointer;
	color: var(--owner-text-color);
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	outline: var(--accent-color);
	transition: border-color 250ms var(--timing-function);
	&:hover,
	&:focus {
		border-color: var(--accent-color);
	}
}

.modal__agree {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.checkbox__input {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.checkbox__input:checked + .checkbox__check {
	border-color: var(--accent-color);
	fill: var(--accent-color);
}

.modal-checkbox__label {
	margin-left: 8px;
	cursor: pointer;
	color: var(--owner-text-color);
	line-height: 1.71;
}

.checkbox__check {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 15px;
	border-radius: 1px;
	fill: transparent;
	cursor: pointer;
	border: 2px solid var(--main-text-color);
	transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.check__icon {
	display: flex;
	position: absolute;
}

.agreement__link {
	text-decoration-line: underline;
	color: var(--accent-color);
}

.send__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	border-radius: 4px;
	cursor: pointer;
	color: var(--secondory-white-color);
	background-color: var(--accent-color);
	border: 1px solid var(--accent-bg-color);
	transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
	&:hover,
	&:focus {
		background-color: var(--accent-bg-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}
