.galery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.galery__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.galery__wrap {
  position: relative;
  overflow: hidden;
}

.galery__wrap img {
  width: auto;
}

.galery__text {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--secondory-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  height: calc(100% + 1px);
  width: inherit;
  display: flex;
  justify-content: center;

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms
    var(--timing-function);
}

.galery__link {
  color: inherit;
  display: block;
  transition: box-shadow 250ms
      var(--timing-function),
    transform 250ms var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .galery__text,
  &:focus .galery__text {
    transform: translateY(0);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.galery__card {
  display: block;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(
    --timing-function
  );
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
}

.galery__card {
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  padding: 20px 24px;
  border: 1px;
  border-style: solid;
  border-top-width: 0;
  border-top-style: hidden;
  border-color: var(--contener-color);
}
.galery__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.galery__descript {
  color: var(--owner-text-color);
  font-size: 16px;
  line-height: 1.88;
}
