.team__section {
  background-color: var(--buttons-port-color);
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.team__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background-color: var(--secondory-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
    0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__content {
  padding: 30px 0;
  &__list {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.img .team__item {
  width: auto;
}
.team__profession__name {
  margin-bottom: 16px;
  color: var(--owner-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.team__soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(
    --timing-function
  );
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondory-white-color);
  }
}

.team__soc__icon {
  fill: currentColor;
}
