body {
  color: var(--main-text-color);
  background: var(--secondory-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}

%centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
